body {
    margin: auto;
    max-width: 45em;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #DFFFED;
}

.header {
    background: rgb(255, 232, 246);
    outline: auto;
    font-weight: bold;
    padding: 1.5em 1em;
    font-size: 1.5em;
    border-radius: 5em;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.navigating li {
    display: inline-block;
    padding: .5em 1em;
    background: white;
    border-radius: 5em;
    margin-left: .5em;
    margin-right: .5em;
    outline: auto;
}

.navigating ul {
    text-align: center;
    padding: 0;
}

.navigating li a {
    color: #000;
    text-decoration: none;
}

nav {
    display: block;
    float: right;
    background: rgb(232, 244, 252);
    padding: 1.5em 2em;
    border-radius: 5em;
    margin-top: 2em;
    outline: auto;
}

nav a {
    color: #000;
}

.content {
    outline: auto;
    background: rgb(250, 248, 218);
    padding: 1.5em 4em;
    border-radius: 5em;
    margin-top: 2em;
}

.buttons li {
    display: inline-block;
    padding: .5em 1em;
    background: white;
    border-radius: 5em;
    margin-left: .5em;
    margin-right: .5em;
    outline: auto;
}

.buttons ul {
    text-align: right;
    padding: 0;
}

.buttons li a {
    color: #000;
    text-decoration: none;
}