<!DOCTYPE html>
{% extends "layout.html" %}

<body>
    {% block title %}Etusivu{% endblock %}

    {% block content %}
    {% if session.username %}
    <p>Olet kirjautunut nimellä <b>{{ session.username }}</b></p>
    
    <h2>Saatavilla olevat kohteet:</h2>
    <p>
    {% for destination in destinations %}
        <li><a href="/destination/{{ destination.id }}">{{ destination.address }}</a>{% if destination.stars != 0 %}, {{ destination.stars }} tähteä{% endif %}
    {% endfor %}
    <div class="buttons" >
        <ul>
        <li><a href="/new">Lisää uusi kohde</a>
        <li><a href="/user/{{ session.user_id }}">Oma profiili</a>
        </ul>
    </div>


    {% else %}
    <div class="content" >
        <nav>
            <p><a href="/login">KIRJAUDU SISÄÄN</a></p>
            <p><a href="/register">LUO UUSI KÄYTTÄJÄTUNNUS</a></p>
        </nav>
            <p>
                Sohvasurffaus on toimintaa, jossa tarjotaan omaa kotia majoituspaikaksi 
                tuntemattomille reissaajille. Tällä sovelluksella voit ilmoittaa oman kotisi 
                sohvasurffauskohteeksi ja selata koteja, joille voit sohvasurffata. Voit 
                arvostella vierailemiasi kohteita sekä omalla sohvallasi yöpyneitä vierailijoita.
                Luo uusi käyttäjätunnus tai kirjaudu sisään nähdäksesi kohteet.
            </p>
    </div>
    {% endif %}
    {% endblock %}
</body>