<!doctype html>
<html>
  <head>
    <title>Sohvasurfaussovellus - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="header">
        <h1>TERVETULOA SOHVASURFFAAMAAN!</h1>
    </div>
    <div class="navigating">
      <ul>
      <li><a href="/">Etusivu</a></li>
      <li><a href="/login">Kirjaudu</a></li>
      <li><a href="/logout">Kirjaudu ulos</a></li>
      </ul>
    </div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>