<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}Käyttäjä {{ username }}{% endblock %}
{% block content %}

<h2>Käyttäjä {{ username }}</h2>

{% if destinations %}
<h3>Omat kohteet:</h3>

{% for destination in destinations %}
<li><a href="/destination/{{ destination.id }}">{{ destination.address }}</a>{% if destination.stars != 0 %}, tähdet: {{ destination.stars }}{% endif %}
{% endfor %}
{% endif %}

<p><b>Käydyt kohteet:</b> {{ visits }}</p>

<p><b>Saadut vierailija-arviot:</b></p>
{% for comment in comments %}
<li>{{ comment[0] }} ({{ comment[1] }})</li>
{% endfor %}

<p><b>Vierailija-arvosana:</b> {{ userscore }}</p>
{% endblock %}
