<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}Käyttäjä {{ username }}{% endblock %}
{% block content %}

<h2>Käyttäjä {{ username }}</h2>

{% if destinations %}
<h3>Omat kohteet:</h3>

{% for destination in destinations %}
<li><a href="/destination/{{ destination.id }}">{{ destination.address }}</a>{% if destination.stars != 0 %}, tähdet: {{ destination.stars }}{% endif %}
{% endfor %}
{% endif %}

<h3>Käydyt kohteet:</h3>

<h3>Saadut vierailija-arviot:</h3>

<h3>Vierailija-arvosana:</h3>
{% endblock %}
